.footer {
  background-color: #86c1dc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  padding: 5px;

  a {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
  }
}

.github-icon {
  width: 18px;
  height: auto;
  margin-right: 10px;
}
